{% extends 'base.html.twig' %}

{% block title %}Test index{% endblock %}

{% block body %}
    <h1>Test index</h1>
    <a href="/logout">Logout</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for trip in trips %}
            <tr>
                <td>{{ trip.id }}</td>
                <td>{{ trip.name }}</td>
                {# <td>{{ trip.price }}</td> #}
                <td>
                    <a href="{{ path('app_test_index_createtrips')}}">new trip</a>
                    <a href="{{ path('app_test_edit', {'id': trip.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.fname }}</td>
                <td>{{ user.lname }}</td>
                <td>{{ user.address }}</td>
                {# <td>{{ user.price }}</td> #}
                <td>
                    <a href="{{ path('app_test_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_test_edit', {'id': user.id}) }}">edit</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_test_new') }}">Create new</a> #}
{% endblock %}